/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/credentials.json  # File JSON của Google Analytics
/storage/pail
/storage/logs/*.log       # Thêm log files
/bootstrap/cache/*        # Cache của Laravel
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed